html body
{
	font-family: 'Raleway', sans-serif; 
	
}
header
{
	display: flex; 
	width: auto;
	margin-left: 40px;
}
#logo /*logo RESERVA*/
{
	width: 100px; 
	height: 50px; 
}
#menu
{
	display: flex;
	margin-left: auto;
	margin-right: 10px;
	font-size: 15px; 
	width: auto; 
	height: 50px; 
	padding-top: 12px; 	
}
#menu a:hover /* barre bleu au survol*/
{
	border-top: 2px solid blue;
	padding-top: 17px;
	color: blue;
}
#menu a /* concerne les 3 href dans menu*/
{
	padding-left: 30px;
	padding-right: 30px; 
	text-decoration: none;
}
.sInscrire
{
	font-weight: bold;
}
.sInscrire a
{
	color: blue;
}
section
{
	margin-left: 40px;
}

#titre form
{
	display: flex;
	flex-direction: row;
	height: 35px;
	width: 35px;
	background-color: #F2F2F2;
	border-radius: 10px 0px 0px 10px;
}
#titre i
{
	display: flex;
	height:30px;
	width: 35px; 
	padding-top: 3px;
	justify-content: center;
	align-items: center;
}
.iconeMini
{
	display: none;
}
.rechercher
{
	background-color: blue; 
	border-radius: 0px 10px 10px 0px;
	height: 35px;
	color: white;
	position: relative;
	right: 4px;	
}
.rechercheVille
{
	height: 35px;
	font-weight: bold;
	color:black;
} 
#filtres
{
	display: flex;
	height: 70px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
#filtres i
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
	color: #0065FC
}
.titreFiltre
{
	display: flex;
	margin-top: 28px;
	margin-right: 40px;	
}
.typeFiltre
{
	display: flex;
	width: auto;
	height: 38px;
	border:2px #F2F2F2 solid;
	margin-right: 30px;
	margin-top: 15px;
	padding-right: 15px;
	justify-content: center;
	border-radius: 20px;
	align-items: center;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.typeFiltre i
{
	border-radius: 100px;
	width: 43px;
	height: 43px;
	display: flex;	
	margin-right: 15px;
}
.typeFiltre:hover
{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.info
{
	display: flex;
	height: 50px;
	width: 900px;
	flex-direction: row;
	margin-bottom: 20px;
	color: grey;
}
.info i
{
	display: flex;
	height: 30px;
	width:30px;
	border-radius: 100%;
	border:2px #F2F2F2 solid;
	color: #0065FC;
	justify-content: center;
	align-items: center;
	margin-top: 7px;
	margin-right: 20px;
}
h2
{
	font-size: 25px;
	font-weight: bold; /* taille et gras du titre "trouvez votre hébergement....."*/
}
#titre p /* couleur du sous titre en gris */
{
	color: grey;
}
#conteneurGeneral
{
	display: flex;
}
#hebergement
{
	background-color: #F2F2F2; 
	width: 200%; /*largeur du conteneur*/
	height:auto; /* hauteur du conteneur*/
	border-radius: 10px;
	display:flex;
	flex-direction: column;
	margin-bottom: 50px;
	margin-right: 40px;	
}
#hebergement span
{
	font-weight: bold;
}
.titreHebergements
{
	display: flex;
	width: auto;
	height:40px;
	margin-right: 40px;
	margin-left: 50px;
	padding-top: 50px;
	padding-bottom: 10px;
	font-size: 20px;	
}
#ensembleBloc
{
	display: flex;
	flex-direction: column;
	padding-top: 5px;
	width: auto;
	color: black;
}
#ensembleBloc :hover
{
	color:blue;
}
#ensembleBloc1
{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	width: auto;
	justify-content: space-around;
}
#ensembleBloc2
{
	display: flex;
	width: auto;
	flex-direction: row;
	justify-content: space-around;
}
.etoiles
{
	display: flex;
	font-size: 12px;
	width: auto;
	margin-bottom: 20px;
	flex-direction: row;
}
.etoileBleue
{
	color: blue;
}
.etoileTransparente
{
	color:#F2F2F2;
}
.blocHebergement
{
	display: flex;
	width: 80%;
	height: auto;
	background-color: white;
	border-radius: 10px;
	margin-left: 20px;
	padding-bottom: 10px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	flex-direction: column;
}
.blocHotelDeLaMer
{
	-moz-background-color:red;
}
.blocAubergeLaCannebiere, .blocHotelDeLaMer
{
	margin-left: 40px;
}
.blocHotelLesMouettes, .blocHotelChezAmina
{
	margin-right: 40px;
}
.photoMarseille /* bloc image */
{
	width: 100%;
	height: auto;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;
}
.tarifHebergement
{
	width: auto;
	height: auto;
	border-radius: 10px;
	margin-left: 10px;
	color:black;
}
.tarifHebergement h4
{
	font-size: 15px;
}
.tarifHebergement p
{
	font-size: 12px;
}
.affichePlus
{
	width: auto;
	height: 40px;
	display: flex;
	margin-top: 30px;
	margin-left: 50px;
}
#lesPlusPopulaires
{
	display: flex;
	background-color: #F2F2F2; 
	width: 100%; /*largeur du conteneur*/
	height: auto; /* hauteur du conteneur*/
	border-radius: 10px;
	flex-direction: column;
	margin-bottom: 50px;
}
#lesPlusPopulaires :hover
{
	color: blue;
}
#lesPlusPopulaires span
{
	font-weight: bold;
}
#lesPlusPopulaires .etoiles
{	
	margin-top: 20px;
}
.titrePopulaire
{
	display: flex;
	width: auto;
	height: auto;
	margin-right: 40px;
	margin-left: 50px;
	padding-top: 50px;
	padding-bottom: 10px;
	font-size: 20px;
	justify-content: space-between;
}
.blocPopulaire
{
	display: flex;
	width: auto;
	height: auto;
	background-color: white;
	border-radius: 10px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	flex-direction: row;
}
.photoPopulaire
{
	width: 100%;
	height: 94%;
	border-radius: 10px 0px 0px 10px;
	object-fit: cover;
	margin: 5px;
}
.tarifPopulaire
{
	width: 100%;
	height: auto;
	border-radius: 10px;
	margin-left: 10px;
	padding-left: 15px;
	color:black;
}
.tarifPopulaire h4
{
	font-size: 15px;
}
.tarifPopulaire p
{
	font-size: 12px;
}
#activiteAMarseille
{
	width: auto; /*largeur du conteneur*/
	height: auto; /* hauteur du conteneur*/
	border-radius: 10px;
}
.titreActivites
{
	display: flex;
	font-size: 20px;
	font-weight: bold;
	padding-bottom:20px; 
}
#toutActivites
{
	display: flex;
	width: auto;
	height: 540px;
	flex-direction: row;	
}
#toutActivites :hover
{
	color: blue;
}
#bloc1,#bloc2
{
	display: flex;
	width: auto;
	height: auto;
	flex-direction: column;
	margin-left: 30px;
	margin-right: 30px;
}
.blocActivites
{
	display: flex;
	width: auto;
	height: auto;
	background-color: white;
	border-radius: 33px;	
	flex-direction: column;
	border:3px #F2F2F2 solid;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-left: 5px;
	color: black;
}
.blocFortDePomegues 
{	
	margin-bottom: 25px;
}
.blocNotreDame
{
	margin-bottom: 35px;
}
.photoActivites
{
	height: 480px;
	width: 100%;
	border-radius: 30px 30px 0px 0px;
	object-fit: cover;
}
.photoFortDePomegues
{
	height: 240px;
}
.photoIleDuFrioul
{
	height: 150px;
}
.photoNotreDame
{
	height: 170px;
}
.photoParcLongchamp					
{
	height: 210px;
}
.nomActivites
{
	width: auto;
	height: 40px;
	border-radius: 0px 0px 10px 10px;
	padding-left: 20px;
	padding-bottom: 20px;
}
section a /*pour retirer la souligne et laisser en noir les parties cliquable */
{
	text-decoration: none;
}
#pied 
{
	background-color: #F2F2F2;
	width:auto;
	height: auto;
	display: flex;
	flex-direction: row;
	padding-left: 30px;
	padding-top: 30px;
	margin-top: 50px;
}
.aPropos
{
	display: flex;
	flex-direction: column;
}
.nosHebergements, .assistance
{
	display: flex;
	flex-direction: column;
	margin-left: 250px;
}
@media only screen and (max-width:499px)
{		
	header, #menu
	{		
		margin-left: 0px;
		flex-direction: column;
	}
	#menu
	{
		flex-direction: row;
		height: auto;	
	}
	#menu a
	{
		width: auto;
		margin:auto;
		padding-bottom: 10px;
	}
	.sInscrire
	{
		position: absolute;
		top: 30px;
		right: 30px;
	}
	.hebergements, .activites
	{
		display: flex;
		width: 50%;
		height: auto;
		border-bottom: 2px solid #DEEBFF;
		font-weight: bold;
		margin-top: 10px;
		margin-left: 0px;
	}
	#menu a:hover /* barre bleu au survol*/
	{
		border-bottom: 2px solid blue;
		padding: 0px;
		color: blue;
		border-top: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		width: 100%;
		height: auto;
		text-align: center;
		padding-bottom: 10px;
	}
	.iconeMax
	{
		display: none;
	}
	.iconeMini
	{
		display: flex;
	}
	section
	{
		margin-left: 0px;
	}
	#filtres
	{
		flex-wrap: wrap;
		height: 220px;
	}
	.economique
	{
		margin-right: 20px;
	}
	.familial
	{
		margin-right: 0px;
	}	
	.info
	{
		width: auto;
	}
	.titreHebergements
	{
		padding: 0px;
		padding-left: 20px;
		margin: 0px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	#conteneurGeneral
	{ 
		height: auto;
		flex-direction: column-reverse;
	}
	#hebergement
	{
		width:auto;
		margin-right: 0px;
		background-color: white;
	}
	#ensembleBloc
	{
		margin-left: 5px;
		margin-right: 10px;
	}
	#ensembleBloc1
	{
		flex-direction: column;	
		margin: 0px;
	}
	#ensembleBloc2
	{
		flex-direction: column;
	}
	.blocHebergement
	{
		width: 100%;
		margin-left: 0px;
		margin-bottom: 10px;
		padding-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		border:3px #F2F2F2 solid;
		box-shadow: 5px 5px 5px #F2F2F2;
	}
	.blocHotelLesMouettes, .blocHotelChezAmina
	{
		margin-right: 0px;
	}
	.photoMarseille
	{
		height: 160px;
		margin: 1px;
	}
	.tarifHebergement
	{
		margin-left: 0px;
		padding-left: 10px;
		margin-bottom: 10px;
		margin-top: 5px;
	}
	
	.affichePlus
	{
		padding-bottom: 40px;
		padding-top:20px;
		margin-left: 5px;
	}
	#lesPlusPopulaires
	{
		height: auto;
		padding-bottom:30px; 
	}
	.titrePopulaire
	{
		margin-left: 15px;
	}
	#blocPopulaire
	{
		margin-left: 15px;
		margin-right: 15px;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
	}
	.photoPopulaire
	{
		height: 95%;
	}
	.tarifPopulaire
	{
		background-color: white;
	}
	#toutActivites
	{
		height: auto;
		flex-direction: column;
	}
	.blocActivites
	{
		height: 220px;	
		margin-left: 0px;

	}
	.photoActivites
	{
		height: 160px;
	}
	#bloc1, #bloc2
	{
		background-color: white;
		margin-left: 0px;
		margin-top: 20px;
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.blocFortDePomegues, .blocNotreDame
	{
		margin-bottom: 20px;
	}
	#pied 
	{
		height: auto;
		flex-direction: column;
		padding-left: 10px;
		padding-top: 10px;
		margin-top: 20px;	
	}
	.nosHebergements, .assistance
	{
		margin-left: 0px;
	}
}
@media all and (min-width:500px) and (max-width: 1024px)
{
	header, #menu
	{		
		margin-left: 0px;
		flex-direction: column;
	}
	#menu
	{
		justify-content: space-around;
		flex-direction: row;
		width: 100%;
		height: auto;	
		margin-top: 40px;	
	}
	.sInscrire, .hebergements, .activites
	{
		width: 35%;	
		border-bottom: 2px solid #DEEBFF;
		padding-bottom: 10px;
		font-weight: bold;
		text-align: center;
	}
	#menu a:hover /* barre bleu au survol*/
	{
		justify-content: space-around;
		border-bottom: 2px solid blue;
		padding: 0px;
		padding-bottom: 10px;
		color: blue;
		border-top: none;
		width: auto;
		text-align: center;
	}
	section
	{
		margin-left: 0px;
	}
	#filtres
	{
		margin-bottom: 50px;
		flex-wrap: wrap;
		height: 90px;
		width: auto;
		padding-right: 10px;
		padding-top: 10px;
	}
	.info
	{
		width: auto;
	}	
	#conteneurGeneral
	{
		width: auto;
		height: auto;
		flex-direction: column-reverse;
		padding-right: 0px;
	}
	#hebergement
	{
		background-color: white;
		width: auto;
		margin-right: 0px;
	}
	#ensembleBloc1, #ensembleBloc2
	{
		flex-direction: column;
		margin-bottom: 0px;
		margin-right: 10px;
	}
	.blocHebergement
	{
		display: flex;
		width: 100%;
		height: 180px;
		margin-left: 0px;
		margin-right: 5px;
		margin-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		border:3px #F2F2F2 solid;
		box-shadow: 5px 5px 5px #F2F2F2;
		flex-direction: row;
	}
	.photoMarseille
	{
		width: 350px;
		height: 180px;
		border-radius: 10px 0px 0px 10px;
	}
	.tarifHebergement
	{
		background-color: white;
		margin-right: 10px;
		padding-left: 10px;
		padding-top: 30px;
		margin-bottom: 10px;
		margin-top: 5px;
	}
	.blocHotelDuPort, .blocHotelDeLaMer, .blocHotelChezAmina
	{
		flex-direction: row-reverse;
	}
	.photoDuPort, .photoDeLaMer, .photoChezAmina
	{
		border-radius: 0px 10px 10px 0px;
	}
	.affichePlus
	{
		margin-left: 10px;
		padding-bottom: 40px;
		padding-top:20px;
	}
	#lesPlusPopulaires
	{
		width: auto;
		height: auto;
		flex-wrap: wrap;
		padding: 15px;
		padding-bottom: 40px;
	}
	.titrePopulaire
	{
		margin-left: 15px;
	}
	.blocPopulaire
	{	
		margin-left: 0px;
		margin-right: auto;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
	}
	.photoPopulaire
	{	
		height: 150px;
	}
	.tarifPopulaire
	{
		min-width: 180px;
		height: 150px;
		padding-left: 15px;
	}
	#activiteAMarseille
	{	
		margin-left: 60px;
		margin-right: 60px;
	}
	#toutActivites
	{
		height: auto;
		flex-direction: column;
		margin-right: 10px;
	}
	#bloc1, #bloc2
	{
		background-color: white;
		margin:0px;
	}
	.blocActivites
	{
		width: 100%;
		height: 200px;	
		margin-left: 0px;
		margin-bottom: 20px;
	}
	.photoActivites
	{
		height: 150px;
	}
	.nomActivites
	{
		width: 280px;
	}
	#pied 
	{
		height: auto;
		flex-direction: column;
		padding-left: 10px;
		padding-top: 10px;
		margin-top: 20px;
	}
	.nosHebergements, .assistance
	{
		flex-direction: column;
		margin-left: 0px;
	}
}
